<div class="row">
  <div class="span4">
    <h1><span id="subtitle">Playlist</span> <%= @list.name %></h1>
    <% if @list.user.avatar != ""%>
        <%= image_tag(@list.user.avatar.html_safe, :alt=>"It's you!", :id =>  "playlist-avatar") %>
            <% else %>
      <%= image_tag("default-avatar.png") %>
    <% end %>
    <span id="inplaylist_username"><small><%= @list.user.username %></small></span>
    <p><%= @list.description %></p>
    <%= @list.users.length %> suscritos 
    <% @list.users.each do |fan| %>
      <% if fan.avatar != "" %>
        <%= image_tag(fan.avatar.html_safe, :id =>  "playlist-avatar") %>
      <% end %>
    <% end %>
    <div class="row">
      <div id="playlist_box" class="span4 ">
        <% if not @videos.empty? %>
        <ul id="playlist">
          <% @videos.each do |vid| %>
            <li>
              <div class="video_data" id=<%= vid.yid %>>
                <span class="video_title"> <%= vid.title %> </span> 
                <br>
                <span class="video_duration"><%= secondsToDuration vid.duration %></span> 
                <br>
                Likes: <%= vid.likes %>
              </div>
            </li>
          <% end %>
        </ul>        
        <% end %>
      </div>
    </div>
  </div>

  <div class="span5 offset1">
    <% if @videos.empty? %>
      No hay videos en esta lista. 
      Agrega uno!
    <% else %>
      <div id='player'></div>
    <% end %>
  </div>
</div>
<div id="add_video">
<%= render partial: "new_video" %>
</div>
<%= link_to "Volver", :root, :class => "btn btn-lg btn-inverse" %>
