<% if user_signed_in? %>
  <p><%= current_user.username %>. Has fundado <%= @owned_lists_count %> listas | <%= link_to "Log out", destroy_user_session_path, :method => :delete %> </p>
<% else %>
  <p><!--<%= link_to "Sign up", new_user_registration_path %> o <%= link_to "Sign in", new_user_session_path %> | --><%= link_to "Ingresa con Google", user_omniauth_authorize_path(:google_oauth2) %></p>
<% end %>
<h1>Listailor</h1>
<p>Crea tus super listas públicas! Wow que bacán</p>
<a><%= link_to "Crea una lista", new_list_path %> </a>
<% if not @lists.empty? %>
  <% @lists.each do |list| %>
  <p> 
    <b><%= link_to "#{list.name}", list_path(list) %></b> by <b><%= list.user.username %></b>
    <% if not list.tags.empty? %> 
      <%  list.tags.each do |tag|%>
         <%= tag.name %>
      <% end %>
    <% end %>
    | <%= pluralize(list.users.length, "persona suscrita")%> 
    | <small><%= list.description %></small> 
    <% if user_signed_in? && !is_subscribed(current_user, list) %>
      | <%= link_to "Join", join_path(:id => list.id) %>
    <% end %>

  </p>
  <% end %>
<% end %>
