<!DOCTYPE html>
<html>
<head>
  <title>Listailor</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="jQuery.tubeplayer.min.js"></script>
</head>
<body>
<div id="app_navbar" class="navbar-inverse">
    <span class="brand">Listailor</span>
          <% if user_signed_in? %>
          <div class="user_data">
            <span class="avatar">
              <% if current_user.avatar != ""%>
                <%= image_tag(current_user.avatar.html_safe, :alt=>"It's you!") %>
              <% else %>
                <%= image_tag("default-avatar.png") %>
              <% end %>
              </span>
            <span class="user_name"><%= current_user.username %></span>
            <span class="navbar_tag"> 
              <i class="icon-list-alt"></i> <%= current_user.lists.length%> 
            </span>
          </div>
          
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "log_out btn btn-danger navbar-btn pull-right"%> 
          <% else %>
            <span id="log_in">
              <%= link_to "Sign in Google+", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-danger pull_right log_in" %>
            </span>
          <% end %>
</div><div id="body" class="container">
<%= render 'layouts/messages' %>
<%= yield %>
</div>
</body>
</html>
